/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "regal";
  src: url(./FUENTES/PFRegalDisplayPro-Regular.ttf);
}

/*IMAGENES GENERAL*/
img {
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: span 12;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./IMAGENES/fachada.jpg),
    linear-gradient(270deg, #000000 0%, #7e7e7e 100%);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 60px;
}

header p {
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 15px;
  line-height: 45px;
  text-align: left;
}
/*MENU SUPERIOR*/

nav {
  display: grid;
  grid-template-columns: 2;
  font-family: "Montserrat";
  width: 100%;
  position: fixed;
  background-color: #000000af;
  z-index: 20;
  border-bottom: 2px solid #ffffff80;
}

nav a {
  color: #ffffff;
}

.logo {
  grid-column: 1 / span 6;
  padding: 15px;
  margin-left: 50px;
}

.texto {
  display: grid;
  grid-column: 9 / 12;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  justify-items: end;
}
.grisclaro {
  color: #7e7e7e;
}
.singup {
  margin-right: 60px;
}

.menu {
  grid-column: 12 / 13;
  justify-items: center;
  align-items: center;
  margin: auto;
  padding-right: 30px;
  margin-left: -5px;
}

.texto p {
  text-align: end;
}

.texto img {
  grid-column: span 1;
  height: 24px;
  width: auto;
  justify-self: end;
}

/*------------------------------------------------*/

/* PORTADA */
.guiones {
  display: flex;
  grid-column: 7 / 8;
  align-items: center;
  margin-left: 5px;
  justify-content: center;
  gap: 10px;
  position: relative;
  bottom: 2%;
  margin-top: 20px;
}

.guion {
  width: 30px;
  height: 2px;
  background-color: #d9d9d9;
}

.textomovil {
  display: none;
}

.textoportada {
  display: grid;
  grid-template-columns: 2;
  grid-column: span 12;
  height: 900px;
  padding-left: 30px;
  span {
    color: #ffffff;
  }
}

#follow {
  font-family: "Montserrat";
  font-weight: bold;
}

#redes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 41px 25px 25px 25px 25px;
  width: 45px;
  justify-items: center;
  position: fixed;
  top: 25vh;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;

  img {
    display: block;
    margin-top: 10px;
  }

  p {
    transform: rotate(90deg);
    display: inline-block;
    color: #7e7e7e;
  }

  #rayita {
    height: 30px;
    width: 1px;
    border-left: 2px solid;
    margin-top: 15px;
    color: #7e7e7e;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.lupamovil {
  display: none;
}

.izquierdainferior {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
  ::placeholder {
    font-family: "Montserrat";
    color: #ffffff;
  }
}

#fuentep1 {
  font-family: "regal";
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  color: #b4b7b7;
}

#fuentep2 {
  font-family: "regal";
  font-size: 70px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 100px;
}

.derechasuperior {
  display: grid;
  justify-items: end;
  align-items: flex-start;
  position: absolute;
  top: 60px;
  right: 80px;
}

#fuentep4 {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: transparent;
  margin-top: 20px;
  position: relative;
}

#fuentep4::placeholder {
  font-family: "Montserrat";
  color: #ffffff;
}

.lupaderechasuperior {
  position: absolute;
  right: 20px;
  top: 65%;
  transform: translateY(-50%);
}

.lupaderechasuperior img {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.fuente {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  width: 300px;
  font-size: 16px;
  border-radius: 100px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

/*--------------------------------------------------*/
/*CARRUSEL*/

#galeriacarrusel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 12;
  height: auto;
  margin-top: 100px;

  #contenedorcarrusel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    overflow: hidden;
    width: 99%;
    overflow-x: scroll;
  }

  .textocaja {
    position: relative;
    top: -80px;
    color: #ffffff;
  }

  .imgcarrusel {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .textocaja:hover {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    height: 25%;
    max-height: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .texto1 {
      font-family: "regal";
      font-size: 20px;
      font-weight: 400;
      text-align: left;
      color: #464547;
    }

    .texto2 {
      font-family: "regal";
      font-size: 30px;
      font-weight: 500;
      text-align: left;
      color: #000000;
    }
  }

  .textocaja {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 25%;
    max-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .texto1 {
    font-family: "regal";
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
  }

  .texto2 {
    font-family: "regal";
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
  }
}

/*--------------------------------------------------*/
/*TITULOS AL LADO DE CARRUSEL*/
.titulos {
  grid-column: 2;
  margin-right: 30px;
}
.titulos .fuentep5 {
  font-family: "regal";
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  text-align: right;
  color: #df991b;
}

.titulos .fuentep6 {
  font-family: "regal";
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  text-align: right;
  color: #000000;
}

.fuentep7 {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  width: 300px;
  font-size: 16px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 100px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.botones {
  width: 80%;
  justify-self: center;
  align-items: center;
  margin-top: 250px;
  gap: 10px;
  font-family: "Montserrat";
  ::placeholder {
    font-family: "Montserrat";
    color: #000000;
  }
}

.prev,
.next {
  font-size: 20px;
  font-weight: 390;
  color: #b4b7b7;
  margin: 0;
  padding: 5px;
}

.next {
  color: #df991b;
}

/*--------------------------------------------------*/
/*TITULO GALERIA*/
#titulogaleria {
  grid-column: span 12;
  align-items: center;
  justify-items: center;
}

.fuentep8 {
  font-family: "regal";
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #df991b;
}

.fuentep9 {
  font-family: "regal";
  font-size: 80px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

/*--------------------------------------------------*/
/*GALERIA*/
#grupos {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-column: span 12;
  gap: 20px;
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
.texto-sobre-imagen:hover {
  background-color: #b4b7b7;
}

.grupoimg {
  width: 100%;
  height: auto;
}

.estilodefuente1 {
  font-family: "regal";
  font-size: 18px;
  text-align: left;
  color: #464547;
  font-weight: 400;
  line-height: 30px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.estilodefuente2 {
  font-family: "regal";
  font-size: 28px;
  margin: 0;
  text-align: left;
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.imagen-con-texto {
  position: relative;
  overflow: hidden;
}

.texto-sobre-imagen {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
  height: 90px;
  overflow: hidden;
}

.logogrupos {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #ffffff;
}

/*--------------------------------------------------*/
/*PIE DE PAGINA*/

footer {
  grid-column: span 12;
  background-color: #000000;
  color: #ffffff;
  margin-top: 150px;
}

.bloquegris {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #26282b;
  padding: 40px 20px;
  text-align: left;
  justify-self: center;
  align-self: center;
  transform: translateY(-50%);
}

.txtgris {
  grid-column: 1;
}

.formgris {
  font-family: "Montserrat";
  grid-column: 2;
}

.formulario {
  margin-top: 20px;
}

.bloquenegro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

span {
  font-family: "regal";
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #df991b;
}

.griscolum1 {
  font-family: "regal";
  font-size: 60px;
  font-weight: 500;
  line-height: 65px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.formulario {
  display: grid;
  gap: 10px;
  padding-right: 20px;
}

.formulario label {
  font-size: 25px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.formulario input {
  color: #7e7e7e;
  border: solid 2px #7e7e7e;
  border-radius: 100px;
  background-color: transparent;
  padding: 10px;
  ::placeholder {
    font-family: "Monserrat";
  }
}

.formulario button {
  gap: 20px;
  border: solid 2px #df991b;
  color: #df991b;
  border-radius: 100px;
  background-color: transparent;
  padding: 10px;
  width: 60%;
  justify-self: end;
  cursor: pointer;
}

.columna1 {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin-top: auto;
  padding-left: 50px;
}

.columna2 {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #b4b7b7;
}

.columna3 {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #b4b7b7;
}

.columna4 {
  padding-right: 50px;
  .uno {
    font-family: "regal";
    font-size: 20px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #b4b7b7;
  }

  .dos {
    font-family: "regal";
    font-size: 30px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
  }

  .tres {
    font-family: "Montserrat";
    font-size: 20px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #b4b7b7;
  }
}

.copy {
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 15px;
  font-weight: 450;
  line-height: 45px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: auto;
  border-top: 2px solid #ffffff;
  width: 100%;
}
